<div class="btn-group">
  {{filterCondition.condition}}

  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
    {{#if filterCondition.condition}}
    {{filterCondition.condition}}
    {{else}}
    類別
    {{/if}}
  </button>
  <div class="dropdown-menu">
    {{#each categoryInfo}}
    <a class="dropdown-item" href="/filter/{{this}}">{{this}}</a>
    {{/each}}


  </div>
</div>